<template>
    <div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3>Formulir Inovasi Daerah</h3>
                        <p>Silahkan membaca deskripsi atau keterangan terlebih dahulu dari masing-masing isian dalam formulir ini. Jika terdapat pertanyaan dan kesulitan, silahkan berkoordinasi ke Whatsapp Grup "Koordinasi IGA DPS 2020"</p>
                        <br>
                        <p style="color:red;"><a style="color:red;">*</a>Required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputEmail1" >Email address <a style="color:red;"><a style="color:red;">*</a></a></label>
                            <input  type="email" 
                                    class="form-control" 
                                    id="exampleInputEmail1" 
                                    placeholder="Email" 
                                    v-model="currentData.email" 
                                    v-validate="'required'" 
                                    name="email" 
                                    data-vv-as="Email">
                             
                             <div class="text-danger small">{{ veeErrors.first('email') }}</div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Nama Inovasi Daerah <a style="color:red;"><a style="color:red;">*</a></a></label>
                            <input  type="text" 
                                    class="form-control" 
                                    id="namainovasidaerah" 
                                    autocomplete="off" 
                                    placeholder="Your answer" 
                                    v-model="currentData.namainovasidaerah"
                                    v-validate="'required'"
                                    name="namainovasidaerah"
                                    data-vv-as="Nama Inovasi Daerah">
                            <div class="text-danger small">{{ veeErrors.first('namainovasidaerah') }}</div>

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Nama OPD <a style="color:red;">*</a></label>
                            <select class="form-control" 
                                    id="namaopd"
                                    v-model="currentData.namaopd"
                                    v-validate="'required'"
                                    name="namaopd"
                                    data-vv-as="Nama OPD">

                                <option selected disabled>Choose</option>
                                <option>12-18</option>
                                <option>18-22</option>
                                <option>22-30</option>
                                <option>30-60</option>
                                <option>Above 60</option>
                            </select>
                            <div class="text-danger small">{{ veeErrors.first('namaopd') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tahapan Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input  type="radio" 
                                            class="form-check-input"
                                            id="tahapaninovasi" 
                                            value="Inisiatif"
                                            v-model="currentData.tahapaninovasi"
                                            v-validate="'required'"
                                            name="tahapaninovasi"
                                            data-vv-as="Tahapan Inovasi Daerah">
                                    Inisiatif
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input  type="radio" 
                                            class="form-check-input" 
                                            id="tahapaninovasi" 
                                            value="Uji Coba"
                                            v-model="currentData.tahapaninovasi"
                                            v-validate="'required'"
                                            name="tahapaninovasi"
                                            data-vv-as="Tahapan Inovasi Daerah">
                                    Uji Coba
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input  type="radio" 
                                            class="form-check-input" 
                                            id="tahapaninovasi" 
                                            value="Penerapan"
                                            v-model="currentData.tahapaninovasi"
                                            v-validate="'required'"
                                            name="tahapaninovasi"
                                            data-vv-as="Tahapan Inovasi Daerah">
                                    Penerapan
                                </label>
                            </div>
                            <div class="text-danger small">{{ veeErrors.first('tahapaninovasi') }}</div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Inisiator Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input  type="radio" 
                                            class="form-check-input" 
                                            name="kepaladaerah" id="kepaladaerah" value="Kepala Daerah">
                                    Kepala Daerah
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="anggotadprd" id="anggotadprd" value="Anggota DPRD">
                                    Anggota DPRD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="opd" id="opd" value="OPD">
                                    OPD
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="asn" id="asn" value="ASN">
                                    ASN
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="masyarakat" id="masyarakat" value="Masyarakat">
                                    Masyarakat
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Jenis Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jenisinovasi" id="jenisinovasi" value="Digital">
                                    Digital
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="jenisinovasi" id="jenisinovasi" value="Non Digital">
                                    Non Digital
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Bentuk Inovasi Daerah <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Digital">
                                    Inovasi Pelayanan Publik
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Non Digital">
                                    Inovasi Tata Kelola Pemerintahan Daerah
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="bentukinovasi" id="bentukinovasi" value="Non Digital">
                                    Inovasi Daerah Lainnya Sesuai Dengan Urusan Pemerintahan yang Menjadi Kewenangan Daerah
                                </label>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Inovasi Daerah dalam rangka atau berkaitan dengan COVID-19 <a style="color:red;">*</a></label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasicovid19" id="inovasicovid19" value="Kepala Daerah">
                                    Non COVID-19
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasicovid19" id="inovasicovid19" value="Anggota DPRD">
                                    COVID-19
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Waktu Uji Coba Inovasi Daerah</label>
                            <input type="date" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Waktu Implementasi Inovasi Daerah</label>
                            <input type="date" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Rancang Bangun dan Pokok Perubahan yang Dilakukan <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="rancangbangun" autocomplete="off" placeholder="Your answer">
                        </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Manfaat yang Diperoleh dari Inovasi Daerah Tersebut <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="manfaat" autocomplete="off" placeholder="Your answer">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Penjelasan Hasil dari Inovasi Daerah Tersebut <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="hasil" autocomplete="off" placeholder="Your answer">
                        </div>
                        <div class="form-group">
                            <label>Anggaran (Jika tersedia)</label>
                            <p style="font-size:12px; text-align: justify;">Kebutuhan data pendukung adalah file persentasi (ppt)</p>

                             <div v-for="(file, index) in fileAnggaran" :key="file.id">
                              <img v-if="!file.error" :src="getImage(file.name)" alt="Anggaran" width="100" height="auto" > 
                              <span v-else>Can't Preview Image</span>
                                  <br/>
                              
                              <span>File: {{file.name}}</span> |
                              <span>Size: {{file.size | formatSize}}</span>|
                              <span v-if="file.error" class="btn-danger pl-1 pr-1">{{(file.error=='denied'?"Upload File Failed":"Upload File Error")}}</span>
                              <span v-else-if="file.success"  class="btn-success pl-1 pr-1">Success Upload</span>
                              <span v-else-if="file.active">Proses Upload - {{file.progress}}/100</span>
                              <span v-else></span>
                              <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
                            </div>
                           
                                    <file-upload
                                    class="btn btn-primary"
                                    post-action="/upload/anggaran"
                                    extensions="gif,jpg,jpeg,png,webp"
                                    accept="image/png,image/gif,image/jpeg,image/webp"
                                    :multiple="false"
                                    v-model="fileAnggaran"
                                    @input-filter="inputFilter"
                                    @input-file="inputFile"
                                    ref="upload"
                                    :headers="{'X-CSRF-TOKEN': token}"
                                    :drop="true"
                                    name="anggaran"
                                    v-validate="'required'">
                                    <i class="fa fa-plus"></i>
                                    Select files
                                </file-upload>
                                <div class="text-danger small">{{ veeErrors.first('anggaran') }}</div>   
                       
                        </div>
                        <div class="form-group">
                            <label>Proses Bisnis (Jika tersedia)</label>
                            <p style="font-size:12px; text-align: justify;">Kebutuhan data pendukung adalah file persentasi (ppt)</p>
                                
                            <!-- <div v-for="(file, index) in filePosesBisnis" :key="file.id">
                              <img v-if="!file.error" :src="getImage(file.name)" alt="Proses Bisnis" width="100" height="auto" > 
                              <span v-else>Can't Preview Image</span>
                                  <br/>
                              
                              <span>File: {{file.name}}</span> |
                              <span>Size: {{file.size | formatSize}}</span>|
                              <span v-if="file.error" class="btn-danger pl-1 pr-1">{{(file.error=='denied'?"Upload File Failed":"Upload File Error")}}</span>
                              <span v-else-if="file.success"  class="btn-success pl-1 pr-1">Success Upload</span>
                              <span v-else-if="file.active">Proses Upload - {{file.progress}}/100</span>
                              <span v-else></span>
                              <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
                            </div>
                           
                                    <file-upload
                                    class="btn btn-primary"
                                    post-action="/upload/proses_bisnis"
                                    extensions="gif,jpg,jpeg,png,webp"
                                    accept="image/png,image/gif,image/jpeg,image/webp"
                                    :multiple="false"
                                    v-model="filePosesBisnis"
                                    @input-filter="inputFilter"
                                    @input-file="inputFile"
                                    ref="upload"
                                    :headers="{'X-CSRF-TOKEN': token}"
                                    :drop="true"
                                    name="proses_bisnis"
                                    v-validate="'required'">
                                    <i class="fa fa-plus"></i>
                                    Select files
                                </file-upload>
                                <div class="text-danger small">{{ veeErrors.first('proses_bisnis') }}</div> -->
                                                     
                        </div>
                        
                    </form>
                  </div>
                </div>
            </div>

            
        </div>
        <button class="btn btn-primary" type="submit" @click.prevent="submit()">Submit form</button>
    </div>
</template>

<script>

    export default {
        props: ['dataprops'],
        filters: {
            formatSize: function (value) {
              if (!value) return ''
              let valKB = 0.000001*value
              return `${valKB.toFixed(2)} MB`
            }
          },
        data() {
            return {
                component:'Page1Component',
                token:document.head.querySelector('meta[name="csrf-token"]').content,
                currentData:{
                    id:'',
                    email:'',
                    inovasi:'',

                },
                files: [],
                filePosesBisnis: [],
                fileAnggaran: [],
                image_folder:"iconFile"

            }
        },

        created(){
        },

        methods: {
            submit(){
                this.$validator.validate().then(valid => {
                    if (valid) {
                            //1. cek validasi
                            //this.insertData()

                            //2. simpan database
                                    //a.insert database
                                    //b.get id data simpan 

                            //3. lompat ke next component

                            this.toNextComponent('Page2Component')
                    }
                 });

            },
            insertData(){
                let self = this
                axios.get('/blogs/all').then(function(response) {
                   // self.dataSet = response.data
                   self.getPaginate(response.data);
                })
            },
            toNextComponent(visit){
                let data = {
                    back:this.component,
                    data:this.currentData,
                    visit
                }
                this.$emit('datacomponent', data)

            },
            inputFilter(newFile, oldFile, prevent) {
              if (newFile && !oldFile) {
                // Before adding a file
                // 添加文件前
                // Filter system files or hide files
                // 过滤系统文件 和隐藏文件
                if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                  return prevent()
                }
                // Filter php html js file
                // 过滤 php html js 文件
                if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                  return prevent()
                }
              }
            },
            inputFile(newFile, oldFile) {
              if (newFile && !oldFile) {
                // add
                console.log('add', newFile)
              }
              if (newFile && oldFile) {
                // update
                console.log('update', newFile)
              }
              if (!newFile && oldFile) {
                // remove
                console.log('remove', oldFile)
              }
              this.$refs.upload.active = true
            },
            getImage(link){
              return `${this.image_folder}/file.png`
            },



        },
    }
</script>

<style>

</style>